body{
    font-family: Montserrat;
}


#title{
    background-color: #B2BEB5;
    color: white;
}
h1{
    /* margin-top: 100px; */
    font-family: 'Montserrat';
    size: 5rem;
    line-height: 1.5;
}


/* Title section */
.navbar{
    margin:0 0 4.5rem 0;
}


.nav-item .nav-link{
    font-family: Roboto Mono;
    margin: 0 20px 0 20px;
    color:white;

}

.buttons{
    margin:5% 3% 5% 0;
}

.dog-image{
    width:30%;
    transform: rotatez(25deg);
    position: absolute;
}

.container-fluid{
    padding: 3% 15% 7% 15%;
}


/* sec2items */
#features{
    padding: 7% 15%;
    background-color: #fff;
    position: relative;
    z-index: 1;
}
.feature-box{
    text-align: center;
    padding: 5%;
}
p{
    font-family: roboto mono;
    color: grey;
}

.facc{
    color:#ef8172;
    margin-bottom: 1rem;

}

.facc:hover{
    color: #ff4c68;
}

/* testimonials */

#testimonials{
    background-color: #ef8172;
    font-family: Roboto Mono;
    color:#fff;
    text-align: center;
    line-height: 1.5;
}

#press{
    padding: 7% 15%;
    color:white;
    background-color: #ef8172;
    text-align: center;
}

.dogo-image{
    border-radius: 100%;
    width: 20%;
    padding: 20px 20px 30px 20px;
}

.company-names{
    width: 20%;
    margin:20px 20px 50px 20px;
}


/* card */
.cardmade{
    /* margin:5px; */
    padding: auto 0 auto 0;
    text-align: center;
}

#pricing{
   padding: 100px;
   text-align: center;
}

.pricesec{
    padding:3% 2%;
}


@media (max-width:1000px) {
    .dog-image{
        position: static;
        transform: rotate(0);
    }
    #title{
        text-align: center;
    }
    .TText{
        font-size: 100%;
    }
}
@media (max-width:600px){
    .TText{
        font-size: 60%;
    }
}

#cta{
    background-color: #ff4c68;
    text-align: center;
    padding: 10% 15%;
    color:#fff;

}

#ctatext{
    font-size: 3.5rem;
    color:#fff;
}

#footer{
    padding: 5% 5%;
    text-align: center;
}

#copyright{
    margin:40px auto 0 auto;
}

.TText{
    font-size: 200%;
    width: 50%;
    margin: auto;
}

